agency-acquisition/workflows/04-reply-detector.json
{
  "name": "Agency - Reply Detector & Lead Scorer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "check-replies",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "filters": {
          "labelIds": ["INBOX"],
          "q": "is:unread newer_than:1d"
        },
        "options": {
          "maxResults": 50
        }
      },
      "id": "get-unread",
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [470, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract sender email and check if it matches a prospect\nconst emails = $input.all();\nconst results = [];\n\nfor (const email of emails) {\n  const from = email.json.from?.emailAddress?.address || \n               email.json.payload?.headers?.find(h => h.name === 'From')?.value || '';\n  \n  // Extract email address from \"Name <email@domain.com>\" format\n  const emailMatch = from.match(/<([^>]+)>/) || [null, from];\n  const senderEmail = emailMatch[1]?.toLowerCase() || from.toLowerCase();\n  \n  // Extract domain for matching\n  const domain = senderEmail.split('@')[1] || '';\n  \n  // Get subject and snippet\n  const subject = email.json.subject || \n                  email.json.payload?.headers?.find(h => h.name === 'Subject')?.value || '';\n  const snippet = email.json.snippet || '';\n  const body = email.json.text || email.json.snippet || '';\n  \n  results.push({\n    messageId: email.json.id,\n    threadId: email.json.threadId,\n    senderEmail: senderEmail,\n    senderDomain: domain,\n    subject: subject,\n    snippet: snippet,\n    body: body,\n    receivedAt: email.json.internalDate || new Date().toISOString()\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "extract-senders",
      "name": "Extract Sender Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $env.AGENCY_AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "list"
        },
        "filterByFormula": "=OR(FIND(LOWER('{{ $json.senderEmail }}'), LOWER({Verified Email})), FIND(LOWER('{{ $json.senderDomain }}'), LOWER({Domain})))",
        "options": {
          "maxRecords": 1
        }
      },
      "id": "match-prospect",
      "name": "Match to Prospect",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-match",
      "name": "Is Prospect?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Score the reply intent\nconst emailData = $('Extract Sender Info').item.json;\nconst prospect = $input.first().json;\n\nconst body = (emailData.body || emailData.snippet || '').toLowerCase();\nconst subject = (emailData.subject || '').toLowerCase();\n\n// Intent scoring\nlet intentScore = 50; // Neutral baseline\nconst signals = [];\n\n// Positive signals (interested)\nconst positivePatterns = [\n  { pattern: /interested/i, score: 30, signal: 'expressed_interest' },\n  { pattern: /tell me more/i, score: 25, signal: 'wants_info' },\n  { pattern: /sounds good/i, score: 25, signal: 'positive_response' },\n  { pattern: /let'?s (talk|chat|meet|connect)/i, score: 35, signal: 'wants_meeting' },\n  { pattern: /schedule|calendar|availability/i, score: 35, signal: 'ready_to_book' },\n  { pattern: /how much|pricing|cost/i, score: 30, signal: 'pricing_interest' },\n  { pattern: /demo/i, score: 35, signal: 'wants_demo' },\n  { pattern: /yes/i, score: 20, signal: 'affirmative' },\n  { pattern: /call me/i, score: 30, signal: 'wants_call' },\n  { pattern: /send.*info|more details/i, score: 25, signal: 'wants_details' }\n];\n\n// Negative signals (not interested)\nconst negativePatterns = [\n  { pattern: /not interested/i, score: -40, signal: 'declined' },\n  { pattern: /unsubscribe|remove|stop/i, score: -50, signal: 'unsubscribe' },\n  { pattern: /no thanks|no thank you/i, score: -35, signal: 'polite_decline' },\n  { pattern: /don'?t contact/i, score: -50, signal: 'do_not_contact' },\n  { pattern: /already have|already using/i, score: -20, signal: 'has_solution' },\n  { pattern: /not a good time|busy/i, score: -10, signal: 'timing_issue' },\n  { pattern: /spam/i, score: -50, signal: 'marked_spam' }\n];\n\n// Apply patterns\npositivePatterns.forEach(p => {\n  if (p.pattern.test(body) || p.pattern.test(subject)) {\n    intentScore += p.score;\n    signals.push(p.signal);\n  }\n});\n\nnegativePatterns.forEach(p => {\n  if (p.pattern.test(body) || p.pattern.test(subject)) {\n    intentScore += p.score;\n    signals.push(p.signal);\n  }\n});\n\n// Determine lead status\nlet leadStatus = 'Replied';\nlet priority = 'medium';\nlet action = 'review';\n\nif (intentScore >= 80) {\n  leadStatus = 'Hot Lead';\n  priority = 'urgent';\n  action = 'book_meeting';\n} else if (intentScore >= 60) {\n  leadStatus = 'Warm Lead';\n  priority = 'high';\n  action = 'follow_up_call';\n} else if (intentScore >= 40) {\n  leadStatus = 'Interested';\n  priority = 'medium';\n  action = 'send_more_info';\n} else if (intentScore <= 20) {\n  leadStatus = 'Not Interested';\n  priority = 'low';\n  action = 'archive';\n} else if (signals.includes('unsubscribe') || signals.includes('do_not_contact')) {\n  leadStatus = 'Do Not Contact';\n  priority = 'none';\n  action = 'remove';\n}\n\nreturn {\n  json: {\n    // Email data\n    messageId: emailData.messageId,\n    threadId: emailData.threadId,\n    senderEmail: emailData.senderEmail,\n    subject: emailData.subject,\n    snippet: emailData.snippet,\n    body: emailData.body,\n    \n    // Prospect data\n    prospectId: prospect.id,\n    companyName: prospect.fields['Company Name'],\n    phone: prospect.fields['Phone'],\n    \n    // Scoring\n    intentScore: Math.max(0, Math.min(100, intentScore)),\n    signals: signals,\n    leadStatus: leadStatus,\n    priority: priority,\n    recommendedAction: action,\n    \n    // Meta\n    scoredAt: new Date().toISOString()\n  }\n};"
      },
      "id": "score-intent",
      "name": "Score Reply Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "={{ $env.AGENCY_AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "list"
        },
        "id": "={{ $json.prospectId }}",
        "fields": {
          "values": [
            {
              "fieldName": "Reply Received",
              "value": "true"
            },
            {
              "fieldName": "Reply Date",
              "value": "={{ $now.toISO() }}"
            },
            {
              "fieldName": "Reply Content",
              "value": "={{ $json.snippet }}"
            },
            {
              "fieldName": "Intent Score",
              "value": "={{ $json.intentScore }}"
            },
            {
              "fieldName": "Lead Status",
              "value": "={{ $json.leadStatus }}"
            },
            {
              "fieldName": "Signals Detected",
              "value": "={{ $json.signals.join(', ') }}"
            },
            {
              "fieldName": "Recommended Action",
              "value": "={{ $json.recommendedAction }}"
            },
            {
              "fieldName": "Outreach Status",
              "value": "={{ $json.leadStatus }}"
            }
          ]
        }
      },
      "id": "update-prospect",
      "name": "Update Prospect Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "operation": "equal",
              "value2": "urgent"
            }
          ]
        }
      },
      "id": "check-urgent",
      "name": "Is Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $env.YOUR_PHONE }}",
        "message": "=🔥 HOT LEAD ALERT!\n\n{{ $json.companyName }}\nIntent: {{ $json.intentScore }}/100\nSignals: {{ $json.signals.join(', ') }}\n\nReply: \"{{ $json.snippet.substring(0, 100) }}\"\n\n📞 {{ $json.phone }}\n\nACT NOW!"
      },
      "id": "sms-alert",
      "name": "SMS Hot Lead Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2010, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🔥 *HOT LEAD ALERT*\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🔥 HOT LEAD: {{ $json.companyName }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\"type\": \"mrkdwn\", \"text\": \"*Intent Score:*\\n{{ $json.intentScore }}/100\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Status:*\\n{{ $json.leadStatus }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Signals:*\\n{{ $json.signals.join(', ') }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $json.phone }}\"}\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Their Reply:*\\n>{{ $json.snippet }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\"type\": \"plain_text\", \"text\": \"📞 Call Now\"},\n          \"url\": \"tel:{{ $json.phone }}\",\n          \"style\": \"primary\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "slack-alert",
      "name": "Slack Hot Lead Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 250]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $('Extract Sender Info').item.json.messageId }}"
      },
      "id": "mark-read",
      "name": "Mark Email Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2010, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Extract Sender Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sender Info": {
      "main": [
        [
          {
            "node": "Match to Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match to Prospect": {
      "main": [
        [
          {
            "node": "Is Prospect?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Prospect?": {
      "main": [
        [
          {
            "node": "Score Reply Intent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Score Reply Intent": {
      "main": [
        [
          {
            "node": "Update Prospect Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prospect Record": {
      "main": [
        [
          {
            "node": "Is Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot Lead?": {
      "main": [
        [
          {
            "node": "SMS Hot Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Email Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Hot Lead Alert": {
      "main": [
        [
          {
            "node": "Mark Email Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Hot Lead Alert": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agency"
    },
    {
      "name": "leads"
    }
  ]
}
